body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100%;
}

.wrap {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 400px;
    height: 250px;
    margin-left: -200px;
    text-align: left;
    overflow: hidden;
    font-size: 12px;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    line-height: 1.5;
}

.wrap * {
    padding: 0;
    margin: 0;
}

.wrap .info {
    width: 398px;
    height: 248px; 
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    background: #fff;
}

.wrap .info * {
    text-align: center;
    margin-bottom: 10px;
}

.wrap .info:nth-child(1) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

.info .title {
    padding: 5px 0 0 10px;
    height: 30px;
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
}

.info .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #888;
    width: 17px;
    height: 17px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.info .close:hover {
    cursor: pointer;
}

.info .body {
    position: relative;
    overflow: visible;
}

.info .available {
    font-size: 18px;
    font-weight: bold;
}

.info .cnt {
    font-size: 25px;
    color: green;
    font-weight: bold;
}

.info .buttons button {
    padding: 5px 10px; /* 내용과 버튼의 여백 설정 */
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #5f99d7;
    border: 1px solid #5f99d7;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.info .buttons button:hover {
    background-color: #2980b9;
}

.info .buttons .inBtn {
    margin-right: 30px;
}

.info .desc {
    position: relative;
    margin: 13px 0 0 90px;
    height: 75px;
}

.desc .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.desc .ellipsis p {
    font-size: 14px;
    text-align: left;
    margin-left: 20%;
}

.info .img {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    color: #888;
    overflow: hidden;
    border-radius: 16px;
}

.info img {
    width: 100px;
    height: 100px;
}

.info .link {
    color: #5085BB;
}